.bg-section {
  animation: bg-animation 300ms ease-in-out var(--delay, 0ms) forwards;
  opacity: 0;
  animation-play-state: paused;
}

@keyframes bg-animation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animation {
  animation: text-animation 300ms ease-in-out var(--delay, 0ms) forwards;
  opacity: 0;
  animation-play-state: paused;
}

@keyframes text-animation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.components-animation {
  animation: components-animation 300ms ease-in-out var(--delay, 0ms) forwards;
  opacity: 0;
  animation-play-state: paused;
}

@keyframes components-animation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.technology-button {
  animation: technology-button-animation 300ms ease-in-out var(--delay, 0ms)
    forwards;
  opacity: 0;
  animation-play-state: paused;
}

@keyframes technology-button-animation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
